<!--body id="body" oara que funcione el sidebar-->   
    <div class="menu__side" id="menu_side">

        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

        <div class="options__menu">
            <!-- Modificar luego que vaya a otra página -->
            <a href="/login" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="/libro/lista">
                <div class="option">
                    <i class="fa-solid fa-book-open" title="Libros"></i>
                    <h4>Libros</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-feather-pointed" title="Autores"></i>
                    <h4>Autores</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-landmark" title="Editoriales"></i>
                    <h4>Editoriales</h4>
                </div>
            </a>
            <!-- Hacer que solo pueda entrar el Admin -->
            <a href="/usuario/lista">
                <div class="option">
                    <i class="fa-solid fa-users" title="Usuarios"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
            <i class="fa-solid fa-arrow-right-arrow-left" title="Préstamos"></i>
                    <h4>Préstamos</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="far fa-address-card" title="Nosotros"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
        </div>
    </div>